[submodule "libs/sst-filters"]
	path = libs/sst-filters
	url = https://github.com/surge-synthesizer/sst-filters.git
[submodule "libs/sst-basic-blocks"]
	path = libs/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks.git
